<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% if title == None %}AcrHost{% else %}{{title}}{% endif %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    <nav>
        <div class="logo">
            {% load static %}
            <img src="{% static "logo.svg" %}" alt="Acr Host">
            <span>Acr Host</span>
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Выход</a>
        {% else %}
        <span><a href="{% url 'login' %}">Авторизация</a> <a href="{% url 'reg' %}"> Регистрация</a></span>
        {% endif %}
    </nav>
        {% block content %}

        {% endblock %}
    <footer>
        <span>&copy;Uinsp 2019</span>
    </footer>
</body>
</html>