{% extends "base.html" %}

{% block content %}
<div class="auth">
    {% if form.errors %}
      <p class="error">Ваше имя пользователя или пароль не совпадают. Проверти правильность введённых данных.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p class="error">Нет доступа к странице.</p>
      {% else %}
        <p>Пожалуйста авторизуйтесь.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'reg' %}">
    {% csrf_token %}
        <ul class="reg">
            <li><span>Регистрация</span></li>
                  <li><p>Имя пользователя:</p></li>
                    <li> {{ form.username }} </li>
                    <li>Не более 150 символов. Только буквы латинского алфавита, цифры и символы @/./+/-/_.</li>
                    <li><p>Пароль:</p></li>
                    <li>{{ form.password1 }}</li>
                    <li>Ваш пароль не может быть слишком похож на другую вашу личную информацию.</li>
                    <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                    <li>Ваш пароль не может быть часто используемым паролем.</li>
                    <li>Ваш пароль не может быть полностью цифровым.</li>
                    <li><p>Повторите пароль:</p></li>
                  <li>{{ form.password2 }}</li>
        </ul>


    <input type="submit" value="Зарегистрироваться" />
    </form>
</div>
{% endblock %}